body{
    margin: 0;
}
header{
    background: url(../images/bg_cabezote.jpg) bottom repeat-x;
    height: 230px;
}
.container{
    width: 950px;
    border: red solid 1px;
    margin: 0 auto;
    display: flex;
    column-gap: 30px;
}
#logo{
    background: url(../images/logo_corporacion_diafora.png) no-repeat;
    height: 180px;
    width: 285px;
}
#logo a{
    display: block;
    height: 100%;
    width: 100%;
}
#logo h1{
    display: none;
}
.maimenu{
width: 250px;
background: #feb228;

}
.maimenu ul{
    margin: 0 ;
    padding-left: 0;
}
.maimenu ul li{
    color: white;
   text-indent: 15px;
   padding: 6px;
   border-bottom: dotted white 1px;
}
.maimenu ul li:hover{
    background: rgb(0, 0, 0);
}

section {
    background-color: rgb(211, 208, 208);
  height: 400px;
  }
aside h1{
    color: rgb(83, 83, 83);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    border-bottom: solid black 3px;
}
article p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    color: rgb(87, 85, 85);
}
.imag{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
}
article{
    width: 49%;
}
article img{
    width: 100%;
}
footer{
    display: flex;
}
.info p{
    flex-wrap: nowrap;  
    color: rgb(117, 116, 116);  
}
nav a{
    color: #f58013;
    text-decoration: none;
    border-bottom: 2px solid #858585;
    padding-bottom: 10% ;
}
nav ul li{
    padding-left: 0;
    list-style-type: none; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    display: flex;
}

